*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(45deg,#0a0a0a,#3a4452);
}


.calculator{
    border:1px solid #717377 ;
    padding: 20px;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(22, 218, 218, 0.902);
}

input{
    width: 320px;
    border: none;
    border-radius: 4px;
    height: 28px;
    padding: 25px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(243, 245, 245, 0.2);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: aliceblue;
}

input::placeholder{

    color: white;
}
button{

    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    padding: 4px;
    align-items: center;
    border-radius: 6px;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0.1);
    font-size: 20px;
    cursor: pointer;
}

.Ebtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0.1);
    background: rgba(0,181,179,255);
    height: 100px;
}

.Abtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}

.Sbtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}

.Mbtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}

.Dbtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}

.Pbtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}

.DLbtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}

.ACbtn{

    box-shadow: -8px -8px 15px rgba(230, 245, 255, 0);
    background: rgba(25,60,72,255);
     
}